SUPABASE_PUBLISHABLE_KEY=""
SUPABASE_URL=""
VITE_SUPABASE_PROJECT_ID=""
VITE_SUPABASE_PUBLISHABLE_KEY=""
VITE_SUPABASE_URL=""

WHATSAPP_PROVIDER=manual
WHATSAPP_META_PHONE_NUMBER_ID=""
WHATSAPP_META_ACCESS_TOKEN=""
WHATSAPP_META_API_VERSION="v20.0"
WHATSAPP_META_BUSINESS_ACCOUNT_ID=""
